body {
  background-image:url('https://images.rawpixel.com/image_800/cHJpdmF0ZS9sci9pbWFnZXMvd2Vic2l0ZS8yMDIzLTEyL3Jhd3BpeGVsb2ZmaWNlM19hYnN0cmFjdF9nZW9tZXRyaWNfZmx1aWRfYmxhY2tfY29sb3JfZ3JhZGllbnRfYl9mNWYxMTRjMC01MTVlLTRkZTctYjAxMi05ZDFkODljYzEyODBfMS5qcGc.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  margin: 200px;
  margin-top: 0px;
  margin-bottom: 0px;
}

@media (max-width: 600px) {
  html, body { margin: 0; }
}

table, th, td {
  width: 100%;
  border-right: 1px solid black;
  border-left: 1px solid black;
  border-collapse: collapse;
}

table {
  background-color: #F1e7dd;
}

th, td {
  padding: 5px;
  text-align: left;
}

#row-list {
  display: none;
  max-width: 100%;
  border-right: 1px solid black;
  border-left: 1px solid black;
  background-color: #F1e7dd;
}

.row-list-edit-mode {
  margin-bottom: 41px;
}

.category-wrapper {
  width: 100%;
  background-color: #f4c458;
  border-top: 2px solid black;
  border-bottom: 2px solid black;
  padding: 5px;
  box-sizing: border-box;
}

.infobox-wrapper {
  width: 100%;
  padding: 5px;
  box-sizing: border-box;
}

.text-area-wrapper {
  width: 100%;
  padding: 5px;
  box-sizing: border-box;
}

.mini-table-wrapper {
  width: 100%;
  padding: 5px;
  box-sizing: border-box;
}

.writeble-element {
  background-color: white;
}

#toolbar {
  position: fixed;
  right: 0;
  left: 0;
  background-color: #fe9821;
  padding: 5px;
  display: flex;
  justify-content: flex-start; /* Changed from center */
  align-items: center;

  overflow-x: auto; /* Enables horizontal scroll */
  overflow-y: hidden; /* Prevents vertical scroll */
  white-space: nowrap; /* Prevents wrapping */
  scrollbar-width: thin; /* For Firefox */
}

.top {
  top: 45px;
  border-bottom: 2px solid black;
}

.bottom {
  bottom: 0px;
  border-top: 2px solid black;
}

#infobox {
  display: none;
}

#toolbar::-webkit-scrollbar {
  height: 6px; /* Small scrollbar height */
}

#toolbar::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.4);
  border-radius: 3px;
}

#header-wrapper {
  position: fixed;
  display: flex;
  top: 0px;
  right: 0;
  left: 0;
  background-color: #fe9821;
  border-bottom: 2px solid black;
}

#header {
  padding: 7px;
  display: flex;
  width: 70%;
  justify-content: flex-start;
  align-items: center;
  box-sizing: border-box;
}

#control-wrapper {
  padding: 7px;
  display: flex;
  width: 30%;
  justify-content: flex-end;
  align-items: center;
  box-sizing: border-box;
}

.control-btn {
  border-radius: 4px;
  padding: 5px;
}

#settings {
  position: fixed;
  top: 50%;
  left: 50%;
  padding: 7px;
  width: 80%;
  transform: translate(-50%, -50%);
  border-radius: 4px;
  border: 2px solid black;
  height: 500px;
  background-color: grey;
}

.settings-section {
  text-align: center;
}

.toolbar-btn {
  padding: 2px 8px;
}

.header-text-btn {
  display: none;
}

#intro-wrapper {
  padding: 5px;
  box-sizing: border-box;
}

.intro-wrapper1 {
  margin-top: 44px;
}

.intro-wrapper2 {
  margin-top: 83px;
}

#title-input {
  text-align: center;
  font-weight: bold;
  font-size: 20px;
  height: 40px;
  outline: none;
}

.info-input, .value-input {
  width: 100%;
  padding: 0px;
  outline: none;
  font-size: 15px;
  background-color: transparent;
  border: 0px;
  box-sizing: border-box;
}

.info-title, .value-cell {
  font-size: 15px;
}

.section-wrapper {
  display: flex;
}

.cell1, .infobox-cell1 {
  width: 42%;
  padding: 7px;
  border: 1px solid black;
  border-right: 0;
  box-sizing: border-box;
}

.cell2, .infobox-cell2 {
  width: 58%;
  padding: 7px;
  border: 1px solid black;
  border-left: 0;
  box-sizing: border-box;
}

.row-delete-cell {
  width: 12%;
  padding: 5px;
  border: 1px solid black;
  border-right: 0px;
  box-sizing: border-box;
  display: none;
}

.cell3, .infobox-cell3 {
  width: 100%;
  background-color: #f4c458;
  padding: 5px;
  border: 1px solid black;
  text-align: center;
  box-sizing: border-box;
}

#undo-btn {
  background-image: url(https://i.ibb.co/yc3BYGvX/Ic-undo-48px-svg.png);
  background-color: transparent;
  background-size: cover;
  border: 0px;
}

#redo-btn {
  background-image: url(https://i.ibb.co/4wh8F546/20251101-140141.png);
  background-color: transparent;
  background-size: cover;
  border: 0px;
}

#toolbar button {
  justify-content: center;
  align-items: center;
  width: 27px;
  height: 27px;
  padding: 0px;
  margin: 1px;
  vertical-align: middle;
}

#toolbar .img-btn {
  display: none;
  width: 40px;
}

.toggle-btn {
  background-image: url(https://i.ibb.co/6q919Xb/20251024-055350.png);
  background-color: transparent;
  background-size: cover;
  width: 25px;
  height: 15px;
  border: 0px;
}

#add-infobox-btn {
  background-image: url(https://i.ibb.co/jvZpGgFd/20251024-213808.png);
  background-size: contain;
  background-position: center;
}

#add-table-btn {
  background-image: url(https://i.ibb.co/W4T8G4rP/20251024-122856.png);
  background-size: contain;
  background-position: center;
}

#add-text-btn {
  border: 2px solid black;
  box-sizing: border-box;
}

#add-category-btn {
  background-image: url(https://i.ibb.co/Xk566hdf/20251025-114655.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

.add-infobox-btn2 {
  background-image: url(https://i.ibb.co/jvZpGgFd/20251024-213808.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.add-text-btn2 {
  border: 2px solid black;
  box-sizing: border-box;
}

.add-table-btn2 {
  background-image: url(https://i.ibb.co/W4T8G4rP/20251024-122856.png);
  background-size: contain;
  background-position: center;
}

#info-list {
  vertical-align: top;
}

.control-room {
  width: 100%;
  padding: 7px;
  text-align: center;
  background-color: #F1e7dd;
  border: 1px solid black;
  box-sizing: border-box;
}

.infobox-profile {
  text-align: center;
}

h3 {
  margin: 1%;
}

p {
  margin: 1%;
}

.center-table {
  margin-left: auto;
  margin-right: auto;
}

.bio-input {
    width: 100%;
    padding: 10px;
    outline: none;
    box-sizing: border-box;
}

.infobox-controls, .infobox-name-controls {
  display: flex;
  justify-content: center;
  align-items: center;
}

.infobox-name-controls button {
  justify-content: center;
  align-items: center;
  width: 35px;
  height: 25px;
  padding: 0px;
  margin: 2px;
  margin-top: 5px;
  margin-bottom: 5px;
  vertical-align: middle;
}

#control-room2 button {
  justify-content: center;
  align-items: center;
  width: 35px;
  height: 25px;
  padding: 0px;
  margin: 2px;
  margin-top: 5px;
  margin-bottom: 5px;
  vertical-align: middle;
}

.infobox-img-btn {
  display: none;
}

.row-add-btn {
  display: none;
}

.row-add-btn2 {
  display: none;
}

.info-cell {
  background-color: white;
  border: 1px solid black;
  border-right: 0;
  font-size: 15px;
  width: 42%;
  padding: 5px;
}

.info-cell-value {
  background-color: white;
  border: 1px solid black;
  border-left: 0;
  font-size: 15px;
  width: 58%;
  padding: 5px;
}

.center-img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.text-center {
  text-align: center;
}

.description {
  width: 100%;
  border: 1px solid black;
  padding: 5px;
  box-sizing: border-box;
  background-color: white;
}

.section {
  width: 100%;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid black;
  padding: 5px;
  background-color: #fe9821;
}

#synopsis-text {
  white-space: pre-line;
}

#synopsis-text-input, #intro-input {
  width: 100%;
  box-sizing: border-box;
  padding: 5px;
}

.infobox-img {
  width: 80%;
}

.infobox-bio {
  max-height: 60px;
  overflow: hidden;
}

img {
  border: 1px solid black;
}

.see-more {
  margin: 4px;
}

.see-more-btn {
  cursor: pointer;
  color: blue;
  margin-top: 1px;
}

.data-wrapper {
  width: 40%;
}

.row-delete2-wrapper {
  border: 1px solid black;
}

.row-delete-wrapper {
  width: 10%;
  border: 1px solid black;
}

.cell-input-wrapper, #title-input, .generate-preset-btn, .infobox-name-controls, .row2-wrapper, .row-delete-wrapper, .row-delete2-wrapper, .name-input, .bio-input {
  display: none;
}

.infobox-name {
  display: block;
}

.cell-edit-mode #title-input {
  display: inline;
}

.cell-edit-mode .row-delete-cell {
  display: table-cell;
}
.cell-edit-mode .cell-input-wrapper {
  display: block;
}

.cell-edit-mode .cell-text,
.cell-edit-mode #title {
  display: none;
}

.cell-edit-mode .writable-element {
  background-color: white;
}

.row-edit-mode .row-delete-cell,
.row-edit-mode .generate-preset-btn,
.row-edit-mode .cell-input-wrapper,
.row-edit-mode .bio-input,
.row-edit-mode .infobox-name-controls {
  display: block;
}

.row-edit-mode .name-input {
  display: inline;
}

.row-edit-mode .row2-wrapper {
  display: table-row;
}

.row-edit-mode .row-delete2-wrapper {
  display: table-cell;
}

.row-edit-mode .row-delete-wrapper {
  display: table-cell;
}

.row-edit-mode .infobox-name,
.row-edit-mode .cell-text,
.row-edit-mode .info-title,
.row-edit-mode .infobox-bio-text {
  display: none;
}

.row-edit-mode .writable-element {
  background-color: white;
}

.table-scroll {
  max-width: 97vw;
  overflow-x: auto; /* Enables horizontal scroll */
  overflow-y: hidden; /* Prevents vertical scroll */
  white-space: nowrap; /* Prevents wrapping */
  scrollbar-width: thin; /* For Firefox */
}

.table-scroll::-webkit-scrollbar {
  height: 6px; /* Small scrollbar height */
}

.table-scroll::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.4);
  border-radius: 3px;
}