html, body { margin: 0; }

body {
  background-image:url('https://images.rawpixel.com/image_800/cHJpdmF0ZS9sci9pbWFnZXMvd2Vic2l0ZS8yMDIzLTEyL3Jhd3BpeGVsb2ZmaWNlM19hYnN0cmFjdF9nZW9tZXRyaWNfZmx1aWRfYmxhY2tfY29sb3JfZ3JhZGllbnRfYl9mNWYxMTRjMC01MTVlLTRkZTctYjAxMi05ZDFkODljYzEyODBfMS5qcGc.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

#toolbar {
  position: fixed;
  bottom: 0px;
  right: 0;
  left: 0;
  background-color: #fe9821;
  padding: 7px;
  display: flex;
  justify-content: flex-start; /* Changed from center */
  align-items: center;
  border-top: 2px solid black;

  overflow-x: auto; /* Enables horizontal scroll */
  overflow-y: hidden; /* Prevents vertical scroll */
  white-space: nowrap; /* Prevents wrapping */
  scrollbar-width: thin; /* For Firefox */
}

#toolbar::-webkit-scrollbar {
  height: 6px; /* Small scrollbar height */
}

#toolbar::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.4);
  border-radius: 3px;
}

#header-wrapper {
  position: fixed;
  display: flex;
  top: 0px;
  right: 0;
  left: 0;
  background-color: #fe9821;
  border-bottom: 2px solid black;
}

#header {
  padding: 7px;
  display: flex;
  width: 70%;
  justify-content: flex-start;
  align-items: center;
  box-sizing: border-box;
}

#control-wrapper {
  padding: 7px;
  display: flex;
  width: 30%;
  justify-content: flex-end;
  align-items: center;
  box-sizing: border-box;
}

.control-btn {
  border-radius: 4px;
  padding: 5px;
}

#settings {
  position: fixed;
  top: 50%;
  left: 50%;
  padding: 7px;
  width: 80%;
  transform: translate(-50%, -50%);
  border-radius: 4px;
  border: 2px solid black;
  height: 500px;
  background-color: grey;
}

.settings-section {
  text-align: center;
}

.toolbar-btn {
  padding: 2px 8px;
}

.header-text-btn {
  display: none;
}

.infobox-img-btn {
  display: none;
}

.img-btn {
  display: none;
}

#intro-wrapper {
  margin-top: 44px;
}

#control-room2 {
  margin-bottom: 39px;
}

table, th, td {
  width: 100%;
  border: 1px solid black;
  border-collapse: collapse;
  background-color: #F1e7dd;
}

th, td {
  width: 50%;
  padding: 5px;
  text-align: left;
}

#title-input {
  text-align: center;
  font-weight: bold;
  font-size: 20px;
  height: 40px;
  outline: none;
}

.info-input, .value-input {
  width: 100%;
  padding: 0px;
  outline: none;
  font-size: 15px;
  background-color: transparent;
  border: 0px;
  box-sizing: border-box;
}

.info-title, .value-cell {
  font-size: 15px;
}

.section-wrapper {
  display: flex;
}

.cell1, .infobox-cell1 {
  width: 42%;
  padding: 5px;
  border: 1px solid black;
  border-right: 0;
  box-sizing: border-box;
}

.cell2, .infobox-cell2 {
  width: 58%;
  padding: 5px;
  border: 1px solid black;
  border-left: 0;
  box-sizing: border-box;
}

.infobox-cell1, .infobox-cell2 {
  background-color: white;
}

.cell3, .category {
  width: 100%;
  padding: 5px;
  box-sizing: border-box;
}

.text-area {
  width: 500px;
}

#info-list {
  vertical-align: top;
}

.control-room {
  width: 100%;
  padding: 7px;
  text-align: center;
  background-color: #F1e7dd;
  border: 1px solid black;
  box-sizing: border-box;
}

.infobox-profile {
  text-align: center;
}

.category {
  background-color: #f4c458;
}

h3 {
  margin: 1%;
}

p {
  margin: 1%;
}

.center-table {
  margin-left: auto;
  margin-right: auto;
}

.bio-input {
    width: 100%;
    padding: 10px;
    outline: none;
    box-sizing: border-box;
}

.infobox-controls, .infobox-name-controls {
  display: flex;
  justify-content: center;
  align-items: center;
}

.info-cell {
  background-color: white;
  border: 1px solid black;
  border-right: 0;
  font-size: 15px;
  width: 42%;
  padding: 5px;
}

.info-cell-value {
  background-color: white;
  border: 1px solid black;
  border-left: 0;
  font-size: 15px;
  width: 58%;
  padding: 5px;
}

.center-img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.text-center {
  text-align: center;
}

.description {
  width: 97%;
  border: 1px solid black;
  padding: 5px;
  background-color: white;
}

.section {
  width: 100%;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid black;
  padding: 5px;
  background-color: #fe9821;
}

#synopsis-text {
  white-space: pre-line;
}

#synopsis-text-input, #intro-input {
  width: 100%;
  box-sizing: border-box;
  padding: 5px;
}

.infobox-img {
  width: 80%;
}

.infobox-bio {
  max-height: 60px;
  overflow: hidden;
}

img {
  border: 1px solid black;
}

.see-more {
  margin: 4px;
}

.see-more-btn {
  cursor: pointer;
  color: blue;
  margin-top: 1px;
}