body {
  background-image:url('https://images.rawpixel.com/image_800/cHJpdmF0ZS9sci9pbWFnZXMvd2Vic2l0ZS8yMDIzLTEyL3Jhd3BpeGVsb2ZmaWNlM19hYnN0cmFjdF9nZW9tZXRyaWNfZmx1aWRfYmxhY2tfY29sb3JfZ3JhZGllbnRfYl9mNWYxMTRjMC01MTVlLTRkZTctYjAxMi05ZDFkODljYzEyODBfMS5qcGc.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  margin: 0;
}

#container {
  display: flex;
  min-height: 100vh;
  margin-top: 0px;
  margin-bottom: 0px;
}

#sidebar {
  position: fixed;
  display: flex;
  top: 0;
  left: 0;
  height: 100vh;
  width: 250px;
  z-index: 800;
  pointer-events: none;
}

#sidebar-content {
  height: 93vh;
  padding: 7px;
  overflow-y: auto;
  overflow-x: hidden;
  background-color: gray;
  pointer-events: auto;
}

#article-list, #save-list {
  display: none;
}

#sidebar-toggle-btn {
  margin-top: 400px;
  width: 7%;
  height: 20px;
  padding: 7px;
  background-color: gray;
  pointer-events: auto;
}

#show-code {
  display: none;
  white-space: pre;
  overflow-x: auto;
  overflow-y: auto;
  resize: both;
  width: 100%;
  height: 330px;
  background-color: black;
  color: white;
  box-sizing: border-box;
}

.infobox-wrapper {
  width: 100%;
  padding: 5px;
  box-sizing: border-box;
}

@media (min-width: 601px) {
  #toggle-sidebar-btn {
    display: none;
  }
  
  .top {
    top: 60px;
    border-bottom: 2px solid black;
  }
  
  #content {
    margin-left: 250px;
  }
  
  #main-content {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    background-color: white;
  }
  
  #intro-wrapper, #main-infobox-wrapper {
    flex: 1 1 50%;
    box-sizing: border-box;
  }
  
  #sidebar-content {
    width: 100%;
  }
  
  #sidebar-toggle-btn {
    display: none;
  }
  
  .infobox-wrapper {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
  }
  
  .infobox-wrapper .infobox-profile {
    width: 35%;
    box-sizing: border-box;
  }
  
  .infobox-wrapper .bio-container {
    flex: 1;
    box-sizing: border-box;
  }
  
  .intro-wrapper1 #content,
  .intro-wrapper1 #sidebar {
    margin-top: 50px;
  }
  
  .intro-wrapper2 #content,
  .intro-wrapper2 #sidebar {
    margin-top: 93px;
  }
}

@media (max-width: 600px) {
  #container {
    margin: 0;
  }
  
  #sidebar-content {
    display: none;
    width: 93%;
    height: 92vh;
  }
  
  .top {
    top: 45px;
    border-bottom: 2px solid black;
  }
  
  .infobox-wrapper {
    display: block;
  }
  
  .intro-wrapper1 #content,
  .intro-wrapper1 #sidebar {
    margin-top: 44px;
  }
  
  .intro-wrapper2 #content,
  .intro-wrapper2 #sidebar {
    margin-top: 83px;
  }
}

table, th, td {
  width: 100%;
  border-right: 1px solid black;
  border-left: 1px solid black;
  border-collapse: collapse;
}

table {
  background-color: #F1e7dd;
}

th, td {
  padding: 5px;
  text-align: left;
}

#row-list {
  display: none;
  max-width: 100%;
  border-right: 1px solid black;
  border-left: 1px solid black;
  background-color: #F1e7dd;
}

.row-list-edit-mode {
  margin-bottom: 41px;
}

.category-wrapper {
  width: 100%;
  background-color: #f4c458;
  border-top: 2px solid black;
  border-bottom: 2px solid black;
  padding: 5px;
  box-sizing: border-box;
}

.sub-category-wrapper {
  width: 100%;
  background-color: #f2b16f;
  border-top: 2px solid black;
  border-bottom: 2px solid black;
  padding: 5px;
  box-sizing: border-box;
}

.sub-category-wrapper h4 {
  margin: 1%;
}



.infobox-wrapper h4 {
  margin: 1%;
}

.text-area-wrapper {
  width: 100%;
  padding: 5px;
  box-sizing: border-box;
}

.mini-table-wrapper {
  width: 100%;
  padding: 5px;
  box-sizing: border-box;
}

.writeble-element {
  background-color: white;
}

#toolbar {
  position: fixed;
  right: 0;
  left: 0;
  background-color: #fe9821;
  padding: 5px;
  display: flex;
  justify-content: flex-start; /* Changed from center */
  align-items: center;

  overflow-x: auto; /* Enables horizontal scroll */
  overflow-y: hidden; /* Prevents vertical scroll */
  white-space: nowrap; /* Prevents wrapping */
  scrollbar-width: thin; /* For Firefox */
  z-index: 950;
}

.bottom {
  bottom: 0px;
  border-top: 2px solid black;
}

#infobox {
  display: none;
  border-top: 1px solid black;
}

#toolbar::-webkit-scrollbar {
  height: 6px; /* Small scrollbar height */
}

#toolbar::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.4);
  border-radius: 3px;
}

#header-wrapper {
  position: fixed;
  display: flex;
  top: 0px;
  right: 0;
  left: 0;
  background-color: #fe9821;
  border-bottom: 2px solid black;
  z-index: 1000;
}

#header {
  padding: 7px;
  display: flex;
  width: 70%;
  justify-content: flex-start;
  align-items: center;
  box-sizing: border-box;
}

#control-wrapper {
  padding: 7px;
  display: flex;
  width: 30%;
  justify-content: flex-end;
  align-items: center;
  box-sizing: border-box;
}

#add-info-btn1 {
  background-image: url(https://i.ibb.co/Dm66scJ/20251219-091959.png);
  background-color: transparent;
  background-size: cover;
  width: 55px;
  height: 25px;
  background-position: center;
}

#add-info-btn2 {
  background-image: url(https://i.ibb.co/B54n0f00/20251219-091747.png);
  background-color: transparent;
  background-size: cover;
  width: 55px;
  height: 25px;
  background-position: center;
}

.add-section-btn {
  background-image: url(https://i.ibb.co/Dm66scJ/20251219-091959.png);
  background-color: transparent;
  background-size: cover;
  width: 55px;
  height: 25px;
  background-position: center;
}

.add-section-btn2 {
  background-image: url(https://i.ibb.co/B54n0f00/20251219-091747.png);
  background-color: transparent;
  background-size: cover;
  width: 55px;
  height: 25px;
  background-position: center;
}

.control-btn {
  border-radius: 4px;
  width: 30px;
  height: 30px;
  padding: 5px;
}

#close-settings-btn {
  background-color: #9e9e9e;
  position: absolute;
  right: 0;
  top: 0;
}

#settings {
  position: fixed;
  top: 50%;
  left: 50%;
  padding: 7px;
  width: 80%;
  transform: translate(-50%, -50%);
  border-radius: 4px;
  border: 2px solid black;
  height: 500px;
  background-color: grey;
  z-index: 900;
}

.settings-section {
  text-align: center;
}

#settings-header {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.toolbar-btn {
  padding: 2px 8px;
}

.header-text-btn {
  display: none;
}

#intro-wrapper {
  padding: 5px;
  box-sizing: border-box;
}

.article-section, .save-state-section {
  background-color: #f4c458;
  padding: 7px;
  border: 1px solid black;
}

#title-input {
  text-align: center;
  font-weight: bold;
  font-size: 20px;
  height: 40px;
  outline: none;
}

.info-input, .value-input {
  width: 100%;
  padding: 0px;
  outline: none;
  font-size: 15px;
  background-color: transparent;
  border: 0px;
  box-sizing: border-box;
}

.info-title, .value-cell {
  font-size: 15px;
}

.section-wrapper {
  display: flex;
}

.cell1, .infobox-cell1 {
  width: 42%;
  padding: 7px;
  border: 1px solid black;
  border-right: 0;
  box-sizing: border-box;
}

.cell2, .infobox-cell2 {
  width: 58%;
  padding: 7px;
  border: 1px solid black;
  border-left: 0;
  box-sizing: border-box;
}

.row-delete-cell {
  width: 12%;
  padding: 5px;
  border: 1px solid black;
  border-right: 0px;
  box-sizing: border-box;
  display: none;
}

.cell3, .infobox-cell3 {
  width: 100%;
  background-color: #f4c458;
  padding: 5px;
  border: 1px solid black;
  text-align: center;
  box-sizing: border-box;
}

#undo-btn {
  background-image: url(https://i.ibb.co/yc3BYGvX/Ic-undo-48px-svg.png);
  background-color: transparent;
  background-size: cover;
  border: 0px;
}

#redo-btn {
  background-image: url(https://i.ibb.co/4wh8F546/20251101-140141.png);
  background-color: transparent;
  background-size: cover;
  border: 0px;
}

#toolbar button {
  justify-content: center;
  align-items: center;
  width: 27px;
  height: 27px;
  padding: 0px;
  margin: 1px;
  vertical-align: middle;
}

#toolbar .img-btn {
  display: none;
  width: 40px;
}

.toggle-btn {
  background-image: url(https://i.ibb.co/6q919Xb/20251024-055350.png);
  background-color: transparent;
  background-size: cover;
  width: 25px;
  height: 15px;
  border: 0px;
}

#add-infobox-btn {
  background-image: url(https://i.ibb.co/jvZpGgFd/20251024-213808.png);
  background-size: contain;
  background-position: center;
}

#add-table-btn {
  background-image: url(https://i.ibb.co/W4T8G4rP/20251024-122856.png);
  background-size: contain;
  background-position: center;
}

#add-text-btn {
  border: 2px solid black;
  box-sizing: border-box;
}

#add-category-btn {
  background-image: url(https://i.ibb.co/Xk566hdf/20251025-114655.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

.add-infobox-btn2 {
  background-image: url(https://i.ibb.co/jvZpGgFd/20251024-213808.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.add-sub-cat-btn {
  background-image: url(https://i.ibb.co/ZRDG8y8x/20251204-053718.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.add-text-btn2 {
  border: 2px solid black;
  box-sizing: border-box;
}

.add-table-btn2 {
  background-image: url(https://i.ibb.co/W4T8G4rP/20251024-122856.png);
  background-size: contain;
  background-position: center;
}

#info-list {
  vertical-align: top;
}

.control-room {
  width: 100%;
  padding: 7px;
  text-align: center;
  background-color: #F1e7dd;
  border: 1px solid black;
  box-sizing: border-box;
}

.infobox-profile {
  text-align: center;
}

.infobox-profile .section-lists {
  text-align: left;
}

h3 {
  margin: 1%;
}

ul {
  margin: 1%;
}

p {
  margin: 1%;
}

.center-table {
  margin-left: auto;
  margin-right: auto;
}

.bio-input {
    width: 100%;
    padding: 10px;
    outline: none;
    box-sizing: border-box;
}

.category-controls, .row-controls {
  display: flex;
  justify-content: center;
  align-items: center;
}

.row-controls button {
  justify-content: center;
  align-items: center;
  width: 35px;
  height: 25px;
  padding: 0px;
  margin: 2px;
  margin-top: 5px;
  margin-bottom: 5px;
  vertical-align: middle;
}

#control-room2 button {
  justify-content: center;
  align-items: center;
  width: 35px;
  height: 25px;
  padding: 0px;
  margin: 2px;
  margin-top: 5px;
  margin-bottom: 5px;
  vertical-align: middle;
}

.infobox-img-btn {
  display: none;
}

.row-add-btn {
  display: none;
}

.row-add-btn2 {
  display: none;
}

.info-cell {
  background-color: white;
  border: 1px solid black;
  border-right: 0;
  font-size: 15px;
  width: 42%;
  padding: 5px;
}

.info-cell-value {
  background-color: white;
  border: 1px solid black;
  border-left: 0;
  font-size: 15px;
  width: 58%;
  padding: 5px;
}

.center-img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.text-center {
  text-align: center;
}

.description {
  width: 100%;
  padding: 5px;
  box-sizing: border-box;
  background-color: white;
}

.section {
  width: 100%;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid black;
  padding: 5px;
  background-color: #fe9821;
}

#synopsis-text {
  white-space: pre-line;
}

#synopsis-text-input, #intro-input {
  width: 100%;
  box-sizing: border-box;
  padding: 5px;
}

.infobox-img {
  width: 80%;
}

.infobox-bio {
  max-height: 60px;
  overflow: hidden;
}

img {
  border: 1px solid black;
}

.see-more {
  margin: 4px;
}

.see-more-btn {
  cursor: pointer;
  color: blue;
  margin-top: 1px;
}

.data-wrapper {
  width: 40%;
}

.row-delete2-wrapper {
  border: 1px solid black;
}

.row-delete-wrapper {
  width: 10%;
  border: 1px solid black;
}

.cell-input-wrapper, #title-input, .generate-preset-btn, .row-controls, .row2-wrapper, .row-delete-wrapper, .row-delete2-wrapper, .name-input, .bio-input {
  display: none;
}

.infobox-name {
  display: block;
}

.cell-edit-mode #title-input {
  display: inline;
}

.cell-edit-mode .row-delete-cell {
  display: table-cell;
}
.cell-edit-mode .cell-input-wrapper {
  display: block;
}

.cell-edit-mode .cell-text,
.cell-edit-mode #title {
  display: none;
}

.cell-edit-mode .writable-element {
  background-color: white;
}

.row-edit-mode .row-delete-cell,
.row-edit-mode .generate-preset-btn,
.row-edit-mode .cell-input-wrapper,
.row-edit-mode .bio-input,
.row-edit-mode .row-controls {
  display: block;
}

.row-edit-mode .name-input {
  display: inline;
}

.row-edit-mode .row2-wrapper {
  display: table-row;
}

.row-edit-mode .row-delete2-wrapper {
  display: table-cell;
}

.row-edit-mode .row-delete-wrapper {
  display: table-cell;
}

.row-edit-mode .infobox-name,
.row-edit-mode .cell-text,
.row-edit-mode .info-title,
.row-edit-mode .infobox-bio-text {
  display: none;
}

.row-edit-mode .writable-element {
  background-color: white;
}

.table-scroll {
  max-width: 97vw;
  overflow-x: auto; /* Enables horizontal scroll */
  overflow-y: hidden; /* Prevents vertical scroll */
  white-space: nowrap; /* Prevents wrapping */
  scrollbar-width: thin; /* For Firefox */
}

.table-scroll::-webkit-scrollbar {
  height: 6px; /* Small scrollbar height */
}

.table-scroll::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.4);
  border-radius: 3px;
}