html, body { height: 100%; margin: 0; }

body {
  background-image: url('https://i.ibb.co/W4KPHw8z/20260115-010547.jpg');
}

#logo {
  width: 20%;
}

#home-pic1 {
  width: 50%;
}

#home-pic2 {
  width: 600px;
}

@media (max-width: 600px) {
  #logo {
    width: 35%;
  }
  
  #home-pic1 {
    width: 40%;
  }
  
  #home-pic2 {
    width: 350px;
  }
}

#tutorial-page-btn {
  margin: 4px;
  padding: 7px 7px;
  background-color: #ffe19c;
}

#home-wrapper {
  margin-top: 8px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#creator-name {
  font-size: 13px;
}

#quote {
  font-size: 15px;
  color: grey;
}

#warning {
  background-color: #d99580;
  border: 2px solid #e34f22;
  margin: 4px;
  padding: 4px;
}

#clear-all-btn {
  background-color: #ffe19c;
  padding: 7px;
  display: none;
}

#create-article-btn, #upload-file-btn {
  background-color: #ffe19c;
  padding: 7px 15px;
}

#article-list {
  display: flex;
  width: 100%;
  overflow-x: auto;
  overflow-y: hidden;
}

.edit-section-btn, .delete-section-btn {
  background-color: #ffe19c;
  padding: 5px;
  pointer-events: auto;
}

#intro {
  right: 0;
  left: 0;
  background-color: #95c6d8;
  padding: 7px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border-top: 2px solid black;
}

#control-room {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.section-wrapper {
  background-color: #f4c458;
  display: flex;
  flex-shrink: 0;
  width: 270px;
  height: 250px;
  margin: 10px;
  border-radius: 12px;
  border: 2px solid black;
  box-sizing: border-box;
}

.article-open-btn {
  width: 100%;
  overflow: hidden;
  text-align: center;
}

.article-poster {
  width: 100%;
  height: 150px;
  border: 1px solid black;
  border-radius: 10px;
  padding: 4px;
  text-align: right;
  box-sizing: border-box;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  pointer-events: none;
}

.info-wrapper {
  pointer-events: none;
}

.title, .intro-text {
  margin: 1%;
}

.intro-text {
  font-size: 13px;
}

.title-input {
  pointer-events: auto;
  width: 90%;
}

#version {
  font-size: 12px;
  color: white;
}